language: python

python:
  - "2.7"

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install pytest

# command to run tests
script:
  - py.test -v --color=yes --exitfirst --showlocals --durations=5
  - python enigma.py -?
  - python enigma.py run "B-I-III-I EMO UX.MO.AY 13.04.11" -m "TESTING" -t -H "()"
  - python enigma.py run "A-I-IV-I RXQ UX.MO.AY.NE 13.04.11" -s 20 -t

after_success:
  - python enigma.py version

# TBD - Automatic deployment? - http://docs.travis-ci.com/user/deployment/pypi/ <<<
# Missing py.test arg: --cache-clear